<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<listener>
		<listener-class>westion.www.listener.ContextAndRequestListener</listener-class>
	</listener>


	<!-- 全局的配置文件的路径 -->
	<context-param>
		<param-name>config</param-name>
		<param-value>/WEB-INF/page.properties</param-value>
	</context-param>

	<!-- servlet -->
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>westion.www.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>westion.www.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>westion.www.servlet.LoginServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin/api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>

	<!-- filter -->
	<filter>
		<filter-name>IsVaidFilter</filter-name>
		<filter-class>westion.www.filter.IsValidFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>westion.www.filter.LoginFilter</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>IsVaidFilter</filter-name>
		<servlet-name>IndexServlet</servlet-name>
	</filter-mapping>
		<filter-mapping>
		<filter-name>IsVaidFilter</filter-name>
		<servlet-name>AdminServlet</servlet-name>
	</filter-mapping>
		<filter-mapping>
		<filter-name>IsVaidFilter</filter-name>
		<servlet-name>LoginServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/admin/api</url-pattern>
	</filter-mapping>
</web-app>
